{% extends "login_base.html" %}
{% load crispy_forms_tags %}
{% block base %}

<div class="flex-column d-flex justify-content-center align-items-center pt-1 pb-5">
    <h1 class="text-center mt-5">Manufacturer Signup</h1>
    <form action="/create-manufacturer" method="post" class="bg-light px-5 py-3 rounded w-75">
        {% csrf_token %}
        <div class="my-3">
            {{ form|crispy }}
        </div>
        <div class="text-center pb-3">
            <button name="createMan" type="submit" class="btn btn-dark btn-block">Create Account</button>
        </div>
    </form>
</div>

{% endblock base %}
