{% extends "login_base.html" %}
{% load crispy_forms_tags %}
{% block base %}

<div class="flex-column d-flex justify-content-center align-items-center pt-1 pb-5">
    <h1 name="createUserTitle" class="text-center mt-5">User Signup</h1>
    <h3 class="text-center">
        NOTE: Normal users cannot post new products, please <a href="/create-manufacturer">sign up as a manufacturer</a>
        if
        you
        wish to do so.
    </h3>
    <form name="userForm" action="/create-user" method="post" class="bg-light px-5 py-3 rounded w-75">
        {% csrf_token %}
        <div class="my-3">
            {{ form|crispy }}
        </div>
        <div class="text-center pb-3">
            <button name="createUser" type="submit" class="btn btn-dark btn-block">Create Account</button>
        </div>
    </form>
</div>

{% endblock base %}
