{% extends "base.html" %}
{% block base %}
<div class="container flex-column d-flex justify-content-center align-items-center pt-1 pb-5">
    <div class="card mt-5">
        <div class="card-body mt-4">
            <h2 class="text-center" style="color:rgb(87, 173, 87)">Email sent successfully!</h2>
            <h3 style=" color:black">Please check your email {{emailTo}} for futher instructions.</h3>
            <div class="text-center pb-3">
                <a class="btn btn-outline-success btn-block" href="{% url 'login' %}" role="button">Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock base %}