{% extends "base.html" %}
{% block base %}
{% load static %}

<body>
    <div class="container my-4">
        {% if results %}
        <h1 id="resultTitle" name="resultTitle" class="text-center">Search Results</h1>
        <div class="row d-flex justify-content-center">
            {% for result in results %}
            <div class="card my-2 w-75">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <img width="100" height="80" src="{{result.img_url}}" />
                        <div class="d-flex flex-column">
                            <h4 class="name jumbotron-heading mx-5">{{result.name}}</h4>
                            <h3 class="text-muted mx-5">{{result.type}}</h3>
                        </div>
                        <div class="d-flex flex-column align-items-end ml-auto">
                            <h5>${{result.price}}.00</h5>
                            <a role="button" href="{%url 'productDetails' id=result.product_id%}">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View Details</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <h1 id="resultTitle" name="resultTitle" class="text-center">No Results Found</h1>
        {% endif %}
    </div>
</body>


{% endblock base %}
{% block scripts %}
<script src="{% static 'frontend_app/app.js' %}"></script>
{% endblock scripts %}
