
{% extends "base.html" %}
{% block base %}
{% load static %}
{% load crispy_forms_tags %}
<!------ Include the above in your HEAD tag ---------->

<div class = "container">
    <h1 class="text-center mt-5">Profile Info</h1>
    <div class="card">
    <div class=" card-body">
        <h4 class="card-title">Username: {{resp_user.username}}</h4>
        <h4 class="card-title">E-Mail: {{resp_user.email}}</h4>
        <h4 class="card-title">First name: {{resp_user.first_name}}</h4>
        <h4 class="card-title">Last name: {{resp_user.last_name}}</h4>
        <h4 class="card-title">Phone-Number: {{resp_user.phone_number}}</h4>

        <a href="{%url 'editUser'%}"
            class="btn btn-sm btn-outline-secondary">Edit
        </a>
    </div>
    </div>
</div>

  {% endblock base %}