global
    daemon
    maxconn 256
    log logs2.papertrailapp.com:28238 local0
    log-send-hostname

defaults
    mode http
    option httpchk
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend web 
    log global
    option httplog
    bind *:80
    default_backend api
    acl use_api path -i -m beg /api
    use_backend egg if !use_api

backend egg 
    log global
    balance roundrobin
    option forwardfor
    http-request set-header X-Forwarded-Port %[dst_port]
    http-request add-header X-Forwarded-Proto https if { ssl_fc }
    option httpchk HEAD / HTTP/1.1\r\nHost:localhost
    server node1 frontend:8000 check 
    server node2 frontend1:8000 check
    server node3 frontend2:8000 check

backend api
    log global
    balance roundrobin
    option forwardfor
    server exp_node1 services:8000
